header{
	background: $blue;
	padding:20px 0;
	text-align:center;
	
	h1{
		color:$white;
		margin:0;
	}
}

.alert-danger{
	margin:20px 0;
}



.lottery-balls, .odds, .buttons, .settings{ margin-top:40px; }

.lottery-balls{
	.ball{
		border-radius: 50%;
		width:100px;
		height:100px;
		background: radial-gradient(circle at 50% 40%,#fcfcfc,#efeff1 66%,#9b5050 100%);
		margin:0 auto;
		position: relative;

		@include bp-sm(){
			margin:10px auto;
		}

		span{
			position: absolute;
			top:30%;
			width: 100%;
			text-align: center;
			font-size:2em;
		}
	}
}


.buttons{
	text-align:center;
	button{
		margin:20px;
	}
}

.odds{
	h2{

		margin:0 0 30px;

		@include bp-sm(){
			margin:0 0 30px 15px;
		}
	}

	table{
		text-align: center;

		thead,th{
			text-align: center;
		}

		td.change-up, td.change-up i{
			color:green;
		}

		td.change-down, td.change-down i{
			color:red;
		}

		tr.no-chance{
			td,th{
				opacity:0.25;
			}
		}
	}
}

.winner-list{

	.winning-team{
		margin:30px 4.16%;
		text-align: center;
		width: 25%;
		padding-bottom:15px;
		display: inline-block;
		border-bottom: 3px solid #f1c40f;

		@include bp-sm(){
			width:94%;
			margin:30px 3%;
		}

		h2{
			font-size:2.5em;
		}
		span{
			font-size:1.2em;
			display:block;
		}
		.winning-balls{
				margin:10px 0 0 55px;
		.ball{
				border-radius: 50%;
				width:40px;
				height:40px;
				background: radial-gradient(circle at 50% 40%,#fcfcfc,#efeff1 66%,#9b5050 100%);
				position: relative;
				float:left;
				margin-right:5px;

				@include bp-sm(){
					margin:10px auto;
				}

				span{
					position: absolute;
					top:30%;
					width: 100%;
					text-align: center;
					font-size:0.75em;
				}

			}

		}
	
	}


}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}