@import "vendor/bootstrap/bootstrap-reboot";
@import "vendor/bootstrap/bootstrap-grid";
@import "vendor/bootstrap/bootstrap";
$ionicons-font-path: "fonts";
@import "vendor/ionicons/ionicons";
@import "partials/mixins";


$blue : #004a83;
$white : #FFF;
$black : #222;


*{
	color:$black;
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html,
body{
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


@import "partials/page";
